server/*
!server/plugins
.paper-remapped
.archive-unpack
server/plugins/WorldEdit/sessions
server/plugins/WorldEdit/assets
server/plugins/BedwarsPlugin-*.jar
server/plugins/BedwarsPlugin/bedfight.yml
cache
!server/server.jar
!server/server.properties
!server/start.sh
!server/config
!server/eula.txt
!server/world
server/world/playerdata
server/world/advancements
server/world/stats
server/world/session.lock
.gradle
build